html, body{
    background: url("/img/fundo.jpg");
    background-color: #160f29;
}

nav.nav-custom{
    background-color: rgba(0, 0, 0, 0.923);
}


/*Tipografia*/
h1.h1-custom{
    color: aliceblue;
}

h2.h2-custom{
    color: aliceblue;
    line-height: 2em;
}

p.p-custom{
    color: aliceblue;
    padding-left: 2em;
    padding-right: 2em;
}

/*---formatação de Links---*/

ul>.nav-item a.nav-link{
    color: aliceblue;
}

ul>.nav-item a.nav-link:hover{
    color: rgb(59, 178, 178);
}

ul>.nav-item> .nav-link.active{
    background-color: rgb(92, 121, 147);
}

ul>.nav-item> .nav-link.active:hover{
    background-color: rgba(92, 121, 147, 0.9);
}

a.card-link-custom{
    text-align: center;
    color: rgb(255, 0, 179);
    text-decoration: none;
    width: 100px;
    padding-left: 10px;
}

a.card-link-custom:hover{
    color: rgb(134, 29, 29);
    border-bottom: 1px solid rgba(255, 0, 0, 0.46);
    border-left: 1px solid rgba(255, 0, 0, 0.43);
}
.carousel-item> div.slide-custom{
    background-color: rgb(127, 159, 147);
}

/*imagens*/
img.img-perfil-card{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-right: 20px;
    padding: 10px;
}

img.img-icon-custom{
    height: 50px;
    width: 80px;
}


footer{
    background-color: rgb(20, 20, 42);
}
div.footer-custom{
    color: aliceblue;
}

/*/ `xs` returns only a ruleset and no media query*/


/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    h5.card-title{
        font-size: 1em;
    }

    p.card-text{
        font-size: small;
        text-align: justify;
    }
 }

/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    h5.card-title{
        font-size: 2rem;
    }

    p.card-text{
        font-size: small;
        text-align: justify;
    }
}

/*// `lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    h5.card-title{
        font-size: 1em;
    }

    p.card-text{
        font-size: small;
        text-align: justify;
    }
 }

/*// `xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    h5.card-title{
        font-size: 1em;
    }

    p.card-text{
        font-size: small;
        text-align: justify;
    }
 }

/*// `xxl` applies to x-large devices (large desktops, less than 1400px)*/
